<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <span style="color:red; font-size:30px;"><i class="fa-solid fa-film"></i></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navlinksperso">
        <%= link_to "Add List", new_list_path(), class:"btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1535016120720-40c646be5580?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  <div class="container">
    <h1><%= @list.name %></h1>

  </div>
</div>
<div>
  <% @bookmarks.each do |bookmark| %>
    <div class="d-flex flex-row m-x-4">
      <div class="card mt-5" style="width: 18rem;">
        <img src="<%=bookmark.movie.poster_url%>" class="card-img-top" alt="<%=bookmark.movie.title%>">
          <div class="card-body">
            <h5 class="card-title"><%=bookmark.movie.title%></h5>
            <p class="card-text"><%=bookmark.movie.overview%></p>
            <p class="card-text">My comment: <%=bookmark.comment%></p>
            <%= link_to "Delete this movie", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
        </div>
      <% end %>
    </div>
</div>
<%= link_to "Go back to all lists", root_path %>
<%= link_to "Add a new movie", new_list_bookmark_path(@list) %>
